.control-group {
  margin-bottom: 10px;
}

.inside .control-group {
  margin-bottom: 20px;
  *zoom: 1;
}

.inside .control-group:before,
.inside .control-group:after {
  display: table;
  line-height: 0;
  content: "";
}

.inside .control-group:after {
  clear: both;
}

.inside .control-label {
  float: left;
  width: 160px;
  padding-top: 5px;
  text-align: right;
}

.inside .controls {
  *display: inline-block;
  *padding-left: 20px;
  margin-left: 180px;
  *margin-left: 0;
}

.inside .controls:first-child {
  *padding-left: 180px;
}